

{{!-- sidebar --}}
        <div class="sidebar" id="sidebar" style="position:fixed;top:0;border-radius:0px;">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"><span>Main menu</span></li>
                <li class="active">
                    <a href="/"><i data-feather="home"></i> <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/generalinfo"><i data-feather="users"></i> <span>General Info</span></a>
                </li>
                <li>
                    <a href="/purchasebill"><i data-feather="file-text"></i> <span>Purchase Bill</span></a>
                </li>
                <li>
                    <a href="/purchaseinvoice"><i data-feather="clipboard"></i> <span>Purchase Invoice</span></a>
                </li>
                <li>
                    <a href="/showstock"><i data-feather="credit-card"></i> <span>Show Stock</span></a>
                </li>
                <li>
                    <a href="/salesbill"><i data-feather="package"></i> <span>Sales Bill</span></a>
                </li>
                <li>
                    <a href="/salesinvoice"><i data-feather="clipboard"></i> <span>Sales Invoice</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i data-feather="pie-chart"></i> <span> Reports</span> <span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="/salesreport">Sales Report</a></li>
                    </ul>
                </li>
                <li class="menu-title">
                    <span>Profile</span>
                </li>
                <li>
                    <a href="profile.html"><i data-feather="user-plus"></i> <span>User Logs</span></a>
                </li>
                <li>
                    <a href="profile.html"><i data-feather="user"></i> <span>My Profiles</span></a>
                </li>

            </ul>
        </div>
    </div>
</div>