<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from kanakku.dreamguystech.com/html/template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 28 Aug 2021 10:01:35 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Medics</title>

    {{!-- <link rel="shortcut icon" href="assets/img/favicon.png"> --}}

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/all.min.css">

    <link rel="stylesheet" href="css/style.css">
   

    <style>
    .sidebar-inner::-webkit-scrollbar {
        display: none;
    }
    </style>
</head>

<body>

    {{>navbar}}
    {{>sidebar}}

    <div class="main-wrapper">

        <div class="page-wrapper" style="display:flex;justify-content:center;align-items:center;">
            <h1 style="font-size:84px;color:#a19f9f;"> <span><i class="fas fa-file-invoice-dollar"></i></span> Medics
            </h1>
        </div>
    </div>

    </div>


    <script src="../scripts/jquery-3.6.0.min.js"></script>

    <script src="../scripts/popper.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>

    <script src="../scripts/feather.min.js"></script>

    <script src="../scripts/jquery.slimscroll.min.js"></script>

    <script src="../scripts/apexcharts.min.js"></script>
    <script src="../scripts/chart-data.js"></script>

    <script src="../scripts/script.js"></script>
</body>

<!-- Mirrored from kanakku.dreamguystech.com/html/template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 28 Aug 2021 10:02:03 GMT -->

</html>