<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from kanakku.dreamguystech.com/html/template/view-invoice.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 10 Dec 2021 16:39:02 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/all.min.css">

    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="main-wrapper">

        {{>navbar}}
        {{>sidebar}}

        <input type="hidden" id="id" value="{{id}}">
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <div class="card" id="pinvoice">
                            <div class="card-body">
                                <div class="invoice-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="invoice-logo">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="invoice-details">
                                                <strong class="mb-2">Invoice No:</strong> <span id="orderid"></span><br>
                                                <strong>Issued:</strong> <span id="orderdate"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="invoice-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="invoice-info">
                                                <strong class="customer-text">Invoice From</strong>
                                                <p class="invoice-details invoice-details-two">
                                                    Darren Elder <br>
                                                    806 Twin Willow Lane, Old Forge,<br>
                                                    Newyork, USA <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="invoice-item">
                                    <div class="row">

                                    </div>
                                </div>


                                <div class="invoice-item invoice-table-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="invoice-table table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Description</th>
                                                            <th class="text-center">Quantity</th>
                                                            <th class="text-center">MRP</th>
                                                            <th class="text-center">Rate</th>
                                                            <th class="text-end">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tdata">

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xl-4 ms-auto">
                                            <div class="table-responsive">
                                                <table class="invoice-table-two table">
                                                    <tbody>
                                                        <tr>
                                                            <th>Subtotal:</th>
                                                            <td><span id="subtotal"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Total Amount:</th>
                                                            <td><span id="tamt"></span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" style="width: 15%;"
                            onclick="printInvoice()">Print</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script>

        // fetch data
        const orderid = document.getElementById("orderid");
        const orderdate = document.getElementById("orderdate");
        const subtotal = document.getElementById("subtotal");
        const tdata = document.getElementById("tdata");
        const tamt = document.getElementById("tamt");

        const id = document.getElementById("id").value;
        fetch("pinvoice", {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                id: id,
            })
        }).then((response) => response.json()).then((data) => {
            if (data.data.length > 0) {

                // generate invoice number
                const mydata = data.data[0];
                let id = mydata._id.toString()
                let pinv = id.slice(id.length - 8, id.length);

                orderid.innerHTML = `PINV-${pinv}`;
                orderdate.innerHTML = mydata.billDate;
                subtotal.innerHTML = mydata.tamt + " Rs";
                tamt.innerHTML = mydata.tamt + " Rs";
                tdata.innerHTML = `
                    <tr>
                    <td>${mydata.itemName}</td>
                    <td class="text-center">${mydata.quantity}</td>
                    <td class="text-center">${mydata.mrp + " "}Rs</td>
                    <td class="text-end">${mydata.rate + " "} Rs</td>
                    <td class="text-end">${mydata.tamt + " "} Rs</td>
                    </tr>
                `;
            }
        })

        function printInvoice() {
            const pinvoice = document.getElementById("pinvoice").innerHTML;
            const a = window.open('Purchase invoice', '', 'height=500, width=500');
            a.document.write('<html>');
            a.document.write(` 
            <head>
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/fontawesome.min.css">
            <link rel="stylesheet" href="css/all.min.css">
            <link rel="stylesheet" href="css/style.css">
            </head>`)
            a.document.write('<body>');
            a.document.write(`<div>${pinvoice}</div>`);
            a.document.write('</body></html>');
            //a.document.close();
            a.print();
        }

    </script>






    <script src="../scripts/jquery-3.6.0.min.js"></script>

    <script src="../scripts/popper.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>

    <script src="../scripts/feather.min.js"></script>

    <script src="../scripts/jquery.slimscroll.min.js"></script>

    <script src="../scripts/apexcharts.min.js"></script>
    <script src="../scripts/chart-data.js"></script>

    <script src="../scripts/script.js"></script>
</body>

<!-- Mirrored from kanakku.dreamguystech.com/html/template/view-invoice.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 10 Dec 2021 16:39:02 GMT -->

</html>